<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vision.financiera">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Visión Financiera 2.0"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.VisionFinanciera">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".ui.AjustesActivity" />
        <activity android:name=".ui.graficos.ResumenActivity" />
        <activity android:name=".ui.graficos.GraficoResumenActivity" />
        <activity android:name=".ui.TransaccionesPorCategoriaActivity" />
        <activity android:name=".ui.TransaccionesPorFechaActivity" />
        <activity android:name=".ui.filtros.FiltroFechaActivity" />

    </application>

</manifest>
